/* src/main/webapp/Styles/style.css */

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-section {
    text-align: center;
    margin-bottom: 20px;
}

.detail-section {
    display: flex;
    flex-direction: column;
}

.detail-section label {
    margin: 10px 0 5px;
}

.detail-section input[type="text"],
.detail-section select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.detail-section button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.detail-section button:hover {
    background-color: #45a049;
}

/* src/main/webapp/css/style.css */

.login-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.login-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #45a049;
}

.login-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.error {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}
.home-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.home-name, .home-mobile, .home-country {
    margin: 8px 0;
    color: aqua;
}